$bg-color: rgb(16, 116, 204);
$text-color: rgb(255, 255, 255);
$font-size: 14px;
$gap-desktop: min(1.2vw, 16px);
$gap-mobile: 4px;
$padding-desktop: min(1.2vw, 16px);
$padding-mobile: 8px;

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    padding: 0px $padding-desktop;
    color: $text-color;
    font-size: $font-size;
    font-weight: 400;
    line-height: 20px;
    gap: $gap-desktop;

    @media (max-width: 767px) {
        padding: 0 $padding-mobile;
        gap: $gap-mobile;
    }

    .header-navigation {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: $gap-desktop;

        @media (max-width: 767px) {
            gap: $gap-mobile;
            justify-content: space-between;
        }

        .header-navigation__search {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @media (max-width: 1023px) {
                justify-content: flex-end;
            }

            @media (max-width: 767px) {
                order: 3;
            }
        }

        .header-navigation__logo-menu {
            display: flex;
            align-items: center;
            gap: $gap-mobile;
        }

        .header-navigation__logo {
            @media (max-width: 370px) {
                display: none;
            }
        }

        .header-navigation__controls {
            display: flex;
            align-items: center;
            gap: $gap-desktop;

            @media (max-width: 1023px) {
                flex: 1;
            }

            @media (max-width: 767px) {
                gap: $gap-mobile;
                flex: 0;
            }
        }
    }

    .account {
        justify-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: calc(0.75 * $gap-desktop);

        @media (max-width: 767px) {
            gap: calc(0.75 * $gap-mobile);
        }

        .user-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 4px;
            object-fit: cover;
        }
    }

    .mobile-menu {
        position: absolute;
        top: 56px;
        left: 0px;
        background-color: $bg-color;
        margin-top: 1px;
        z-index: 99;
    }
}

.icon {
    padding: 8px;
}

.menu-icon {
    padding: 6px 3px;
}