<nav>
    <ul>
        <li>
            <a href="#">
                <img src="assets/icons/link.svg" alt="icon link">
                <span>Ссылки</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/icons/contacts.svg" alt="icon contacts">
                <span>Контакты</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/icons/tag.svg" alt="icon tag">
                <span>Теги</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/icons/favorites.svg" alt="icon favorites">
                <span>Избранное</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/icons/history.svg" alt="icon history">
                <span>Посещения</span>
            </a>
        </li>
    </ul>
</nav>